<dialog id='trackingConsent'>
    <form method="dialog">
        <p>{{ _x('We want to use cookies to better understand our users and improve the experience on our site, but first, we need your permission.','Tracking Component', 'crowd') }}</p>
        <small>{{ _x('These cookies are disabled by default.','Tracking Component','crowd') }} <a href='{{ fn('get_privacy_policy_url') }}'>{{ _x('Read more in our privacy policy','Tracking Component', 'crowd') }}</a></small>
        <fieldset>
            <button id='blockTracking'>{{ _x('No thanks','Tracking Component', 'crowd') }}</button>
            <button id='allowTracking'>{{ _x('Okay!','Tracking Component', 'crowd') }}</button>
        </fieldset>
    </form>
</dialog>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('#trackingConsent').show()

        document.querySelector('#trackingConsent #blockTracking').addEventListener('click', () => {
            document.cookie = 'block_ga=true;max-age=2592000'
        })

        document.querySelector('#trackingConsent #allowTracking').addEventListener('click', () => {
            document.cookie = 'allow_ga=true;max-age=2592000'
        })
    })
</script>