<div class="left">
	<div class="left--top">
		<a href="#">{{ _x('Carrers','Footer','crowd') }}</a>
		<a href="#">{{ _x('Downloads','Footer','crowd') }}</a>
		<a href="#">{{ _x('Blog','Footer','crowd') }}</a>
		<a href="#">{{ _x('Global Service Hotline: +400 988 0000','Footer','crowd') }}</a>
	</div>
	<div class="left--bottom">
		<p>{{ _x('&copy; Trina Solar 2022 - All Rights Reserved','Footer','crowd') }}</p>
	</div>
</div>
<div class="center">
	<a href="{{ fn('get_privacy_policy_url') }}">{{ _x('Privacy Policy','Footer','crowd') }}</a>
</div>
<div class="right">
	{% for social in options.socials %}
		<a href="{{ social.social_link }}" target="_BLANK">
			<span class="fa-stack">
				<i class="fa-solid fa-circle fa-stack-2x "></i>
				<i class="{{ social.social_icon }} fa-stack-1x fa-inverse"></i>
			</span>
		</a>
		
	{% endfor %}
</div>