{#
/**
 * Block Name: Banner Block
 *
 * This is the template that displays the example block.
 */
#}


	{% if fields.text_or_images %}
    <div class="block-heading--banner-wrap block-heading--banner-wrap__default">
		<div class="banner-inner block-banner-slider--text">
			{% for i in range(1, 15) %}
				<span>{{ fields.banner_text }}</span>
			{% endfor %}
		</div>
    </div>
	{% else %}
    <div class="image-banner">
		<div class="image-wrapper">
			<div class="image-block" {% if fields.images.left_group.left_order == false %} style="flex-direction: column-reverse"{% endif %}>
                <div>
				    <a class="green-button" href="{{ fields.images.left_group.left_link.url }}" target="{{ fields.images.left_group.left_link.target }}">{{ fields.images.left_group.left_link.title }}</a>
                </div>
			</div>
			<div class="image-block" {% if fields.images.right_group.right_order == false %} style="flex-direction: column-reverse"{% endif %}>
                <div>
				    <a class="green-button" href="{{ fields.images.right_group.right_link.url }}" target="{{ fields.images.right_group.right_link.target }}">{{ fields.images.right_group.right_link.title }}</a>
                </div>
			</div>
		</div>
    </div>

	{% endif %}
