<div class="slider-block" style="background-image: url('{{ fields.background_image }}')">
	<div class="inner-container">
		<div class="slider-block--top">
			<div class="slider-block--top--left">
				<h2>{{ fields.side_text.small_title }}</h2>
				<p>{{ fields.side_text.small_text }}</p>
			</div>
			<div class="slider-block--top--right">
				<div class="swiper swiper-container">
					<div class="swiper-wrapper">
						{% for slide in fields.slider_right %}
							<div class="swiper-slide">
								<img src="{{ slide.slider_images }}" alt={{_x('slider storage image', 'Homepage', 'crowd')}}>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="swiper-progress">
					<!-- Number -->
					<div class="swiper-pagination"></div>
					<!-- Progressbar -->
					<div class="swiper-progress-bar">
						<span class="slide_progress-bar"></span>
					</div>
				</div>
			</div>
		</div>

		<div class="slider-block--bottom">
			{{ fields.main_text_area }}
		</div>
	</div>
</div>
